@model IEnumerable<PropertyRentalManagement.Models.Apartment>

@{
    ViewData["Title"] = "Apartments Registration";
    ViewData["role"] = Context.User.FindFirst("role").Value;
    ViewData["display"] = ViewData["role"].Equals("Tenant") ? "display:none" : "";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h1>Apartments</h1>
            <br>
            <p style="@ViewData["display"]">
                <a asp-action="Create" class="btn btn-primary custom-button">Register a New Apartment</a>
            </p>
            <br>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability.AvailabilityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Username)
            </td>
            <td style="@ViewData["display"]">
                    <a asp-action="Edit" asp-route-id="@item.ApartmentId" style="color: #2E6C55;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ApartmentId" style="color: #2E6C55;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ApartmentId" style="color: #2E6C55;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
