@model IEnumerable<PropertyRentalManagement.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
    ViewData["role"] = Context.User.FindFirst("role").Value;
    ViewData["display"] = ViewData["role"].Equals("Owner") ? "display:none" : "";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h1>Appointments</h1>
            <br>
            <p style="@ViewData["display"]">
                <a asp-action="Create" class="btn btn-primary custom-button">Schedule an Appointment</a>
            </p>
            <br>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Username)
            </td>
            <td style="@ViewData["display"]">
                <a asp-action="Edit" asp-route-id="@item.AppointmentId" style="color: #2E6C55;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId" style="color: #2E6C55;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId" style="color: #2E6C55;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
